/* Custom slick dots */
.slick-dots li button:before {
  font-size: 12px;
  color: white;
}

.slick-dots li.slick-active button:before {
  color: white;
}

/* Slider arrows */
.slick-next:before, .slick-prev:before {
  display: none;
}